.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.storeCard{
  width: 200px;
  margin: 5px;
  font-size: .45em;
  
}
.card-header{
  font-size: 1rem;
  max-height: 60px;
  min-height: 60px;
}
.card-body{
  padding: 0 !important;

}
.card-subtitle{ 
  font-size:.75rem;
}
.card-footer{
  min-height: 60px;
  max-height: 60px;
  line-height: 1.1;
}
.store{
  display:flex;
  flex-flow: column nowrap;
}
.inventoryContainer{
  background-color: slategrey;
  margin: 5px;
  color: black;

  display: flex;
  flex-flow: column nowrap;
  border: 1px solid white;
}
.inventoryItems{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.tempHolder{
  display: flex;
  flex-flow: row nowrap
}
.temp{
  background-color: white;
}
.addItemForm{
  display:flex;
  flex-flow: column nowrap;

}
h5{
  color:white;
}